<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edumate</title>
    <link rel="stylesheet" href="{% static 'student/css/edu.css' %}">
</head>
<body>
    <div class="container">
        <h2>Edumate</h2>
        <div>
            <li>
            <a href="{% url 'faculity' %}">Notes</a>
        </li> 
        </div>
       <div>
        <li>
            <a href="">Syllabus</a>
        </li>
       </div>
        
    </div>
</body>
</html>