<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semester</title>
    <link rel="stylesheet" href="{% static 'student/css/edu.css' %}">
</head>
<body>
    <div class="wrapper">
    <h2>Semester</h2>
    <div><a href="">1st</a></div>
    <div><a href="">2nd</a></div>
    <div><a href="">3rd</a></div>
    <div><a href="">4th</a></div>
    <div><a href="">5th</a></div>
    <div><a href="">6th</a></div>
    <div><a href="">7th</a></div>
    <div><a href="">8th</a></div>
    </div>
</body>
</html>