<nav class="mynavbar">
    <div class="myclass">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
           <li>
            <a href="{% url 'about' %}">About</a>
          </li>
          <li>
            <a href="{% url 'contact' %}">Contactus</a>
          </li>
          <li>
            <a href="">Jobs</a>
          </li>
          <li>
            <a href="{% url 'edu' %}">Edumate</a>
          </li>

          <li>
            <a href="{% url 'signup' %}">Signup</a>
          </li>
          <li>
            <a href="">login</a>
          </li>

          
        </ul>
    
   
    </div>
</nav>
